# Virtualenvs
.venv/
.venv_test/
venv/
env/
# Python cache
__pycache__/
*.py[cod]
# Distribution / packaging
build/
dist/
*.egg-info/
# Editor/IDE
.vscode/
.idea/
# OS
.DS_Store
# Assets
assets/
# Local env
.env
# Build artifacts/Web
.web/
